// Estilos del componente ProductDetail
.prod-sum {
    padding: 10px;
    &__header {
        font-size: $fs-prod-sum-header-mob;
        color: $strong-gray;
        font-weight: bold;
    }
    &__description {
        font-size: $fs-prod-sum-description-mob;
        margin: 30px 0;
    }
}

@media (min-width: 768px) {
    .prod-sum {
        padding-top: 40px;
        &__header {
            font-size: $fs-prod-sum-header;
        }
        &__description {
            font-size: $fs-prod-sum-description;
        }
    }
}